/* Example styling of a h1 element 
h1 {
  color: #0025FF;
}
body { background-color: gray;}
h1 { color: purple;}
p { color: black; }
*/

*{
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: #3d313f;
}
.box {
  width: 90vw;
  height: 95vh;
  margin: 30px auto;
  position: relative;
}

/* Hero image */
.hero-image {
  /* "Linear-gradient" för att addera en mörkare ton på bild (xxx.jpg). Detta gör att det är enklare att läsa texten */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("./media/cafe.jpg");

  height: 80%;
  width: 100%;

  /* Bakgrunds-position och centrering */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* P Placera texten i mitten av bilden */
.hero-text {
  color: #dcc1b0;
  text-shadow: 1px 1px 1px black;
}
.connect {
  color: #dcc1b0;
  font-size: 1.2em;
  padding: 8px 0;
  margin: 16px;
  text-decoration: none;
  border-bottom: 2px solid #dcc1b0;
}
nav{
  height: auto;
  min-height: 30px;
  display: flex;
  align-items: center;
}
.connect:hover {
  color: #869dab;
  border-color: #869dab;
}

@media screen and (min-width: 567px){
  .hero-image {
    height: 80%;
    width: 70%;
  }
  .hero-text {
  text-align: center;
  position: absolute;
  left: 60%;
  top: 30%;
  width: 75%;
}
}
@media screen and (min-width: 992px){
  
}
@media screen and (min-width: 1200px){
  .box {
    width: 1080px;
  }
}